body{
    margin: 0%;
    padding: 0%;
    background-color: #1a1c27;
}

::-webkit-scrollbar{
    width:1px;
    height: 10px;
    background: #ccd7dd;
    border-radius: 5px;
    box-shadow: 0 0 4px inset black;
}

::-webkit-scrollbar-thumb{
    background: #6E85B2;
    border-radius: 10px;
    box-shadow: 0 0 4px inset #1a1c27;
}

header{
    width:80vw;
    height: 10vh;
    background:linear-gradient(to left,#1a1c27,#404560);
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    position: fixed;
    left: 10vw;
    top: 1vh;
    
}
header h2{
    margin-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8e97c9;
    text-shadow: 1px 1px 2px black;
    animation: anim1 1s infinite ease-in-out; 
}

@keyframes anim1 {
    0%{color: #8e97c9;}
    50%{color: #586cd9;}
    100%{color: #8e97c9;}
}

.logo{ filter: drop-shadow(1px 1px 2px); display: inline; transition: 0.3s ease-in; cursor: pointer;}
.logo:hover{
    filter: drop-shadow(1px 1px 2px rgb(121, 117, 117));
}

nav{
    border-radius: 5px;
    border:1px solid #577B8D;
    width: 80vw;
    height: 4vh;
    position: fixed;
    top: 12vh;
    left: 10vw;
    display: flex;
    justify-content: space-around;
    background:#818FB4;
}

nav a{
    width: 15%;
    text-align: center;
    transition:all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    filter: invert(0);
}

nav a::after{
    position: absolute;
    left: 0%;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100%;
    background:#f7d230;
    transition: all 0.2s ease-in-out;
     
}

nav a:hover::after{
    top: 0%;
    filter: blur(0px);
}
 
#homebut{
    background:url('./images/home_icon.png') no-repeat center/auto 90%;
}

#homebut::after{
    content: "Home";
}


#poetrybut{
    background:url('./images/pen.png') no-repeat center/auto 80%;
}

#poetrybut::after{
    content: "Poetry";
}

#contactbut{
    background:url('./images/contact.png') no-repeat center/auto 80%;
}

#contactbut::after{
    content: "Contact";
}

#aboutbut{
    background:url('./images/about.png') no-repeat center/auto 80%;
}

#aboutbut::after{
    content: "About";
}

main{
    width: 80vw;
    height: 83vh;
    position: fixed;
    top: 17.5vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    left: 10%;
    overflow:hidden;
    scroll-behavior: smooth;
    text-align: center;
}

#homepage{
  width: 100%;
  height: 90vh;
  position: relative;
}

#bg_image{
    position: fixed;
    bottom: 0%;
    left: 0%;
    z-index: -1;
    mask-image: linear-gradient(to top, rgba(0,0,0,0.3) 10%, transparent 70%);
}

#homepage p{
    padding: 5%;
    text-align: justify;
    color: #b0b0ae;  
}

.home_img{
    width:100%;
    height: 20%;
    background: url(./images/backG.png) no-repeat center/cover;
    display: flex;
    justify-content: center; align-items: center;
    color: #1a1c27;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home_para{
    width: 100%;
    height: 65%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5%;
}

/* poetries */

#poetries{
    width:96%;
    height:100%;
    text-align: left;
    padding: 2%;
}

#poetries_head{
    width: 100%;
    height: 15vh;
    
}
#poetries_head b{
    color: #93b8ca;
    margin-left:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

#poetries_head p{
    padding:0 5% 0 5%;
    color: #818FB4;
    margin:2%;
}

#poetry_blogs{
    width: 100%;
    height: 60vh;
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap; 
    gap: 10px ;
    padding-bottom:10px;
}

#poetry_blogs article{
    flex: 0 0 300px;
    border-radius: 10px;
    background:radial-gradient(at 0% 0%, #f8709732 0%,transparent 30%);
    width:200px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #183d52;
    padding:10px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.5;
}

#poetry_blogs article h3{  color: #dfd7cf; }
#poetry_blogs article h5{  color: #B9B4C7; }
#poetry_blogs article p{ color: #928aa5; text-align: justify; font-size: small; }
#poetry_blogs article img{ width: 100%; }
#poetry_blogs article video{ width: 100%;}



#poetry_blogs article:hover{
    box-shadow: 0 0 10px black;
    border: 1px solid #49bcff;
    background: #1b243078;
    opacity: 1;
}

/* about */

#about{
    width: 100%;
    height: 100%;  
}

#about_head{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
     
}
#about_head b{
    margin-left: 10px;
    color: #93b8ca;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about_content{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction:row;
}

#about_content div{
    height: 100%;
    
}


#about_content div p{
    padding: 5%;
    text-align: left;
    color: #93b8ca;
}

#about_content div p em{
    color: #FF4C29;
}

#about_image{
    flex: 0 0 50%;
    border-right:5px solid #93b8ca;
    position: relative;
}
.myname{
    position: absolute;
    right: 0%;
    top: 0%;
    font-size: 1.5em;
    background: #93b8ca;
    max-height:10%;
    width: 30%;
    display: flex; justify-content: center; align-items: center; 
}

.myname::after{
    position: absolute;
    left: -8%;
    top: -15%;
    content: "";
    width: 5%;
    height: 130%;
    background: #93b8ca;
    clip-path: polygon(0% 0%, 100% 10%,100% 90%, 0% 100%);
}

#about_image img{
    filter: drop-shadow(0 0 5px black);
    border-bottom: 5px solid #93b8ca;
    border-right: 5px solid #93b8ca;
    clip-path: polygon(5% 100%,100% 100%,100% 68%,98% 67%,70% 0%,0% 0%,0% 95%);
}



#about_para{
    flex: 0 0 50%;
}

/* contact Me */

#contact{
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}
 
#contact_head{
    width: 100%;
    height: 10%;
    display: flex; justify-content:start; align-items: center;
    padding: 0 10px 0 10px;
}

#contact_head b{
    margin-left: 10px;
    color: #93b8ca;
}
#contactInnerContainer{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#formdetails{
    grid-column: span 2;
    display: flex; justify-content: space-around; align-items: center;
    flex-direction: column;
    color:#49bcff;
    overflow: hidden;
    background: url(./images/contactMe.png) no-repeat left/30%;
}
#formdetails b{
    color: #fbc523;
    font-size: 3em;
}

#socialmedia{
    width: 40%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
#socialmedia img{
    height: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    transition: all 0.3s ease-out;
}

#socialmedia img:hover{
    transform: scale(150%,150%);
}


#formdata form{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    text-align: left;
    color: #94bfda;
}

#formdata form input{
    display: block;
    all:unset;
    border-bottom: 1px solid #49bcff;
    width: 100%;
    height: 10%;
    font-size: medium;
    font-weight: 300;
    font-style: italic;
}

#formdata form button{
    width:40%;
    height: 10%;
    border-radius:40px;
    font-size: large;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0;
    background: #94bfda;
    box-shadow: 2px 2px 5px black;
}
#formdata form button:hover{
    border: 1px solid red;
}

 


footer{
    width: 100%;
    height:10%;
    background:linear-gradient(to left,#1a1c27,#404560);
    position: absolute;
    bottom: 0%;
    font-style: italic;
    color: #49bcff;
     
}


 










 




